rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Everyone can read all posts
    match /posts/{postId} {
      allow read: if true;
      
      // Anyone can create a post, but cannot modify or delete others
      allow create: if true;
      allow update, delete: if false;
    }
  }
}